.formInput{
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #1976d2;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background: white;
    &:focus {
        background-color: #f8f9fa;
        border-color: darken(#1976d2, 10%);
        box-shadow: 0 0 5px rgba(25, 118, 210, 0.3);
    }
}
.radioGroup{
    text-align: center;
}
.formRadio{
    font-size: 16px;
    color: #1976d2;
    font-weight: 500;
    cursor: pointer;
    padding: 8px;
    input[type="radio"]{
        appearance: none;
        width: 18px;
        height: 18px;
        border: 2px solid #1976d2;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:checked {
            border: 5px solid #1976d2;
        }

        &:hover {
            border-color: #1a7ee3;
        }
    }

}
.formError{
    color: #d32f2f;
    font-size: 14px;
}