*{
  margin: 0%;
  padding: 0%;
}
.dashboardLayout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  
    .sideContent {
      width: 250px;
      position: fixed;
      height: 100vh;
      left: 0;
      top: 0;
      padding: 20px;
    }
  
    .mainContent {
      flex: 1;
      height: 100vh;
      margin-left: 260px;
      // top: 0;
    //   margin-bottom: 40px;
      // padding: 20px;
      background-color: #ffffff;
      overflow-y: auto;
    }
  }
  