.sideBar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: #1976d2;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 15px;
    display: flex;
    flex-direction: column;

    .logo {
        border-radius: 5px;
    }

    .sideBarMenu {
        flex-grow: 1;
        margin-top: 30px;
        padding: 0;
        list-style: none;

        li {
            padding: 15px 20px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s ease, color 0.3s ease;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #ffffff;

            a {
                flex: 1;
                text-decoration: none;
                color: inherit;
            }

            // &.active {
            //     color: black;

            //     a {
            //         color: black;
            //     }
            // }

            // &:hover {
            //     background-color: white;
            //     color: #1976d2;

            //     a {
            //         color: #1976d2;
            //     }
            // }
            &.active {
                background-color: white;
                color: #1976d2;
                font-weight: 600;

                a {
                    color: #1976d2;
                }
            }

            &:hover {
                background: rgba(255, 255, 255, 0.8);
                color: #1976d2;

                a {
                    color: #1976d2;
                }
            }

        }
    }

    .logoutButton {
        padding: 50px 0px;
        margin-right: 150px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s ease, color 0.3s ease;
        align-items: center;
        background: none;
        color: #ffffff;
        border: none;
        outline: none;
    }

    .logoutButton:hover {
        color: red;
    }
}