$primary-color: #1976d2;
$secondary-color: #424242;
$background-color: #ffffff;
$text-color: #212121;
$hover-color: #4799ea;

.sideBar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: $background-color;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .sideBarMenu {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            padding: 15px 20px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 5px;
            transition: background 0.3s ease, color 0.3s ease;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $text-color;

            a {
                width: 95%;
                text-decoration: none;
                color: $text-color;
            }

            &:hover {
                background-color: $hover-color;
            }
        }
    }
}